*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 {font-family: 'Silkscreen', cursive;}
*/
footer{
    overflow-x: hidden;
}

/*Index.html*/

.logo {
    height: 4rem;
    width: 4rem;
}

.Home {
    overflow-x: hidden;
    background-image: url(https://i.postimg.cc/Z5LLKHRy/Sky-Background.jpg);
    background-size: cover;
    min-height: 86vh;
    font-family: Babas Neue;
}

.display-2 {
    padding-top: 250px;
}
   

#h3 {
    position: relative;
    animation: left 5s infinite;
    animation-direction: alternate; 

}

/* About me*/

#aboutme {
    font-family: Babas Neue;
}

#aboutme img {
    width: auto;
    height: 75vh;
    object-position: center;
    object-fit: cover;
}

.col-6 p {
    font-size: x-large;
}

/*work/skills*/

#workskills {
    font-family: Babas Neue;
}

#workskills h2 {
    text-decoration: underline;
}

@keyframes left{
    from{left:0;}
    to{left: 5%;}
}

















@media screen and (max-width: 720px) {
    #aboutme .col-6{
        width: 100%;
    }
    .Home {
        width: 100%;
    }
   #workskills .col-6{
        width: 100%;
    }
    

}
    
    



    


