*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    overflow-x: hidden;
}

/*Index.html*/

.logo {
    height: 4rem;
    width: 4rem;
}

.Home {
    overflow-x: hidden;
    background-image: url(https://i.postimg.cc/Z5LLKHRy/Sky-Background.jpg);
    background-size: cover;
    min-height: 86vh;
    font-family: Babas Neue;
}

.display-2 {
    padding-top: 250px;
}
   

#h3 {
    position: relative;
    animation: left 5s infinite;
    animation-direction: alternate; 

}

/* About me*/

#aboutme {
    font-family: Babas Neue;
    background-image: url(https://i.postimg.cc/RVFN6BNc/cool-background-2.png);
    background-size: cover;
    min-height: 95vh;
    overflow: hidden;
}

#aboutme img {
    width: auto;
    height: 75vh;
    object-position: center;
    object-fit: cover;
}

#aboutme a {
  display: block;
  scale: 2;
  color: white;
}

.icons {
  display:flex;
  justify-content:center;
  gap: 50px;
}

i {
  font-size: x-large;
}

.col-6 p {
    font-size: x-large;
}

/*resume*/

#resume {
    font-family: Babas Neue;
    background-image: url(https://i.postimg.cc/RVFN6BNc/cool-background-2.png);
    background-size: cover;
    min-height: 95vh;
}


#resume h2 {
    text-decoration: underline;
}

@keyframes left{
    from{left:0;}
    to{left: 5%;}
}

/*Testimonials*/

#testimonial{
    font-family: Babas Neue;
    min-height: 95vh;
    background-image: url(https://i.postimg.cc/RVFN6BNc/cool-background-2.png);
    background-size: cover;
}

#testimonial h2 {
    text-decoration: underline;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    box-shadow: 7px 7px 7px black;
    object-fit: cover;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  
      /*Contact*/

  #contact {
    font-family: Babas Neue;
    min-height:90vh;
    background-image: url(https://i.postimg.cc/RVFN6BNc/cool-background-2.png);
    background-size: cover;
  }

  #contact h2 {
    text-decoration: underline;
  }

  #contact p{
    font-size: x-large;
  }

  /*Projects*/

  #projects {
    font-family: Babas Nueue;
    background-image: url(https://i.postimg.cc/RVFN6BNc/cool-background-2.png);
    background-size: cover;
    min-height: 89vh;
  }

  #projects p {
    text-align: center;
    font-size: x-large;
  }

  .card {
    height: 25rem;
  }

  /* Media Querry*/
  @media screen and (max-width: 720px) {
      #aboutme .col-6{
          width: 100%;
      }
      .Home {
          width: 100%;
         text-align: center;
      }
      #resume .col-6{
          width: 100%;
          overflow: hidden;
      }
      #testimonial .col-4{
        width: 100%;
      }
      #testimonial .col-5{
        width: 100%;
      }
    #testimonial {
        width: 100%;
        overflow: hidden;
      }
      #contact {
        width: 100%;
        overflow: hidden;
      }
      #projects {
        width: 100%;
        row-gap: 20rem;
        overflow: hidden;
      }
      footer {
        width: 100%;
      }
  }

























    