*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 {font-family: 'Silkscreen', cursive;}
*/

.logo {
    height: 4rem;
    width: 4rem;
}

.Home {
    background-image: url(https://i.postimg.cc/Z5LLKHRy/Sky-Background.jpg);
    background-size: cover;
    min-height: 86vh;
    font-family: Babas Neue;
}

.display-2 {
    padding-top: 250px;
}

/* About me*/

#aboutme {
    font-family: Babas Neue;
}

#aboutme img {
    width: auto;
    height: 75vh;
    object-position: center;
    object-fit: cover;
}

.col-6 p {
    font-size: x-large;
}

@media screen and (max-width: 720px) {
    #aboutme .col-6{
        width: 100%;
    }
}
    
    



    


